[submodule "muparser"]
	path = 3rdParties/muparser
	url = https://github.com/beltoforion/muparser.git
[submodule "3rdParties/Windows-classic-samples"]
	path = 3rdParties/Windows-classic-samples
	url = https://github.com/microsoft/Windows-classic-samples.git
